/*==========  Desktop First  ==========*/
// ≥1440px
@media screen and (max-width: 1440px)
    h1
        font-size: 36px
    header
        background-image: url('/images/src/wave.png'), url('/images/src/main-fone-1-px.jpg')
        background-position: top right, top right
        background-size: 90vw, 100vw
    .offer-decription
        p
            font-size: 20px
    .monitor-box
        img
            width: auto
            max-width: 80%
            height: auto
    .first__card_block
        background-size: contain
// ≥1400px
@media screen and (max-width: 1400px)
    .first__card_block
        .title_card
            font-size: 30px
            padding: 0 25px
            &::after
                top: -5px
        .price_card
            font-size: 40px
        .brief_card
            font-size: 14px
        .chekbox_card
            bottom: 120px
// ≥1200px
@media screen and (max-width: 1200px)
    .list-menu-box
        width: 30%
    h1
        font-size: 28px
    header
        background-size: 100vw, 100vw
    .offer-decription
        p
            font-size: 16px
    .offer-button
        #offer-button
            width: 280px
            height: 66px
            font-size: 35px
    .first__card_block
        .price_card
            font-size: 36px
        .brief_card
            font-size: 12px
            margin: 20px 35px 0
        .chekbox_card
            bottom: 200px
// ≥1132px
@media screen and (max-width: 1132px)    
    .list-menu-box
        top: -65%
    header
        background-size: right bottom, 100vw
        max-height: auto
// ≥992px
@media screen and (max-width: 992px)
    h1
        font-size: 24px
    .offer-decription
        p
            font-size: 14px
    
// ≥768px
@media screen and (max-width: 768px)
    
// ≥576px
@media screen and (max-width: 576px)
    
//*==========  Mobile First  ==========*/

// ≤576px
@media screen and (min-width: 576px)
    
// ≤768px
@media screen and (min-width: 768px)
    
// ≤992px
@media screen and (min-width: 992px)
    
// ≤1200px
@media screen and (min-width: 1200px)
    